body {
  background-color: var(--pale-peach);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

p {
  font-size: 0.9em;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3124px, 0, 0); 
  }
}

.wrapper {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.sliding-background {
  position: absolute;
  top: -10px;
  z-index: -1;
  height: 1041.5px;
  width: 6248px;
  background: url(../bg/index_bg.png) repeat-x;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: contain;
  animation: slide 70s linear infinite;
}

.card {
  margin: auto;
  margin-top: 20vh;
  background-color: rgba(249, 237, 233, 0.91);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38.5vw;
  border-radius: 18px;
  padding: 35px 0;
}

#press-start {
  width: 15vw;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  background-color: var(--peach);
  transition: border-color 0.15s;
  color: var(--blue);
  cursor: pointer;
}

#press-start:hover {
  border-color: var(--pink);
  color: var(--pale-peach);
}

#press-start:focus,
#press-start:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}