.world {
    background-color: brown;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aqua;
}