.transition {
    background-color: var(--pale-peach);
    z-index: 1;
    width: 100%;
    height: 50%;
    left: 0;
    position: absolute;
    transition: height 1.5s ease;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.open.top {
    height: 0;
}

.open.bottom {
    height: 0;
}

.world {
    z-index: -1;
    background-color: brown; /* background tiles */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aqua;
}