:root {
  font-family: Meltmino;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pink: #e64386;
  --pale-peach: #f6d7bd;
  --peach: #f19c98;
  --blue: #035e79;
  --dark-blue: #3c3951;
}

@font-face {
  font-family: Meltmino;
  src: url(./fonts/meltmino/OpenType-TT/Meltmino-Regular.ttf);
}

@font-face {
  font-family: Meltmino;
  src: url(./fonts/meltmino/OpenType-TT/Meltmino-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: SpaceMono;
  src: url(./fonts/space-mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: SpaceMono;
  src: url(./fonts/space-mono/SpaceMono-Bold.ttf);
  font-weight: bold;
}

p {
  font-family: SpaceMono;
  color: var(--pink);
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: var(--dark-blue);
}