:root {
  font-family: Meltmino;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pink: #e64386;
  --pale-peach: #f6d7bd;
  --peach: #f19c98;
  --blue: #035e79;
  --dark-blue: #3c3951;
}

@font-face {
  font-family: Meltmino;
  src: url(./fonts/meltmino/OpenType-TT/Meltmino-Regular.ttf);
}

@font-face {
  font-family: Meltmino;
  src: url(./fonts/meltmino/OpenType-TT/Meltmino-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: SpaceMono;
  src: url(./fonts/space-mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: SpaceMono;
  src: url(./fonts/space-mono/SpaceMono-Bold.ttf);
  font-weight: bold;
}

p {
  font-family: SpaceMono;
  color: var(--pink);
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--pink);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-blue);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--pink);
  }
  button {
    background-color: #f9f9f9;
  }
}
